*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
/static/
!/static/css/*
!/static/img/*

### Sublime Text
*.sublime*

##virtualenv##
bin/
lib/
include/
local/
logs/
man/
share/

### Databases and documentation
*.sqlite3
docs/build/
docs/source/_*

tmp/
node_modules
env/
