

.nav-bar-main {
    background: black;
    padding: 0px 30px;
    position: relative;
}


  .background-cover {
    background-size: cover;
  }

  .article-box {
    position: relative;
    color: white;
    margin:10px 0;
  }

  .article-box header {
    position: absolute;
    bottom: 30px;
  }

  .article-box.half {
    height: 265px;
  }

  .article-box.full {
    height: 350px;
  }


  .fill-parent {
    width:;
  }

  .article-box.third {
    height: 265px;
    position: 0 15px;
  }


footer {
    background: black;
    margin-top: 90px;
}




