

.nav-bar-main {
    background: black;
    padding: 0px 30px;
    position: relative;
}


  .background-cover {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .article-box {
    position: relative;
    color: white;
    margin:10px 0;
  }
  .article-box img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .article-box header {
    position: absolute;
    bottom: 10px;
    padding: 15px 25px;
    word-break: break-word;
  }

  .article-box.half {
    height: 275px;
  }

  .article-box.full {
    height: 400px;
  }


  .fill-parent {
    width:;
  }

  .article-box.third {
    height: 265px;
    position: 0 15px;
  }


footer {
    background: black;
}


img {
  max-width: 100%;
  width: 100%;
}

.main-sidebar {
  height: 500px;
  max-height: 645px;
}

.no-sides-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.featured{
  margin-top: 30px;
  padding: 30px 0px;
  background: #eee;
}

.section-header {
  text-align: center;
  margin-bottom: 15px;
  padding: 15px 0px;

}

.featured-box{
  position: relative;
  bottom: 10px;
  word-break: break-word;
  color: black;
  padding-left: 5px;
}

.featured-type {
position: absolute;
color: white;
background: rgba(0, 0, 0, 0.70);
padding: 5px 10px;
text-transform: uppercase;
font-size: 14px;
top: 0px;
}

.featured-box a:hover, a:visited {
  color: black !important;
  text-decoration: none;
}

.featured-box h1 {
  padding-left: 10px;
}























.no-padding {
  padding: 0 !important;
}

.semi-padding-v {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-v {
  padding-top: 20px;
  padding-bottom: 20px;
}

.double-padding-v {
  padding-top: 40px;
  padding-bottom: 40px;
}

.extra-padding-v {
  padding-top: 60px;
  padding-bottom: 60px;
}

.semi-margin-v {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-v {
  margin-top: 20px;
  margin-bottom: 20px;
}

.double-margin-v {
  margin-top: 40px;
  margin-bottom: 40px;
}

.border-large-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid #F5F5F5;
}

.no-margin-top {
  margin-top: 0;
}

.semi-margin-top {
  margin-top: 5px;
}

.margin-top {
  margin-top: 10px;
}

.no-margin-left {
  margin-left: 0;
}

.semi-margin-left {
  margin-left: 5px;
}

.margin-left {
  margin-left: 10px;
}

.no-margin-right {
  margin-right: 0;
}

.semi-margin-right {
  margin-right: 5px;
}

.margin-right {
  margin-right: 10px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.semi-margin-bottom {
  margin-bottom: 5px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.double-margin-top {
  margin-top: 20px;
}

.quadruple-margin-side {
  margin-top: 40px;
}

.extra-margin-top {
  margin-top: 60px;
}

.double-margin-left {
  margin-left: 20px;
}

.quadruple-margin-side {
  margin-left: 40px;
}

.extra-margin-left {
  margin-left: 60px;
}

.double-margin-right {
  margin-right: 20px;
}

.quadruple-margin-side {
  margin-right: 40px;
}

.extra-margin-right {
  margin-right: 60px;
}

.double-margin-bottom {
  margin-bottom: 20px;
}

.quadruple-margin-side {
  margin-bottom: 40px;
}

.extra-margin-bottom {
  margin-bottom: 60px;
}

.quad-margin-top {
  margin-top: 40px;
}

.extra-margin-top {
  margin-top: 60px;
}

.space-bottom {
  margin-bottom: 45px;
}

.pad-bottom {
  padding-bottom: 45px;
}

.pad-top {
  padding-top: 45px;
}

.double-pad-bottom {
  padding-bottom: 90px;
}

.double-space-bottom {
  margin-bottom: 90px;
}

.double-space-top {
  padding-top: 90px;
}

.margin-auto {
  display: block;
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
